.conatainer{
    width: 600px;
    height: 2000px;
    border: 1px solid red;
    margin: 0 auto;
}

.backToTopButton{
    position: fixed;
    margin-right: 10px;
    margin-bottom: 0;
    width: 100px;
    height: 40px;
    border: 1px solid red;
}