@charset "utf-8";
/*
导入css  @import(less)"a.css"
导入less @import"b.less"
*/
.reset * {
  margin: 0;
  padding: 0;
}
.reset ul,
.reset ol {
  list-style: none;
}
.reset a {
  text-decoration: none;
}
.reset img {
  border: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.font14 {
  font-size: 14px;
}
.bc {
  margin-left: auto;
  margin-right: auto;
}
.bc * {
  margin: 0;
  padding: 0;
}
.bc ul,
.bc ol {
  list-style: none;
}
.bc a {
  text-decoration: none;
}
.bc img {
  border: none;
}
.tudou_main {
  width: 616px;
  margin-left: auto;
  margin-right: auto;
}
.tudou_main * {
  margin: 0;
  padding: 0;
}
.tudou_main ul,
.tudou_main ol {
  list-style: none;
}
.tudou_main a {
  text-decoration: none;
}
.tudou_main img {
  border: none;
}
.title {
  height: 62px;
  line-height: 62px;
  border-top: solid 1px #d0d0d0;
  margin-top: 20px;
}
.title h3 {
  color: #575757;
  font: 22px/62px '微软雅黑';
  width: 106px;
  border-top: solid 2px #F97674;
  margin-top: -1px;
  position: relative;
  float: left;
  height: 61px;
}
.title_nav {
  margin-top: 4px;
  float: right;
  font-size: 14px;
  color: #020101;
}
.title_nav li {
  float: left;
}
.title_nav span {
  margin: 0 11px;
}
.title_nav a {
  color: #020101;
}
.title_nav a:hover {
  color: red;
}
.content {
  margin-right: -32px;
  zoom: 1;
}
.content:after {
  content: '';
  display: block;
  clear: both;
}
.item {
  float: left;
  margin-left: 32px;
  width: 130px;
  height: 164px;
}
.item_img {
  height: 78px;
  position: relative;
  margin-bottom: 5px;
}
.item_img img {
  width: 130px;
  height: 78px;
  display: block;
}
.item_img span {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 35px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: black;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: 9px;
}
.item_img .cq {
  background-image: url(images/star.jpg);
}
.item_list {
  line-height: 22px;
  font-size: 12px;
}
.item_list a {
  color: #666;
}
.item_list a:hover {
  color: #ff0000;
}
.item_list .userName,
.item_list .play,
.item_list .mess {
  padding-left: 17px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url(images/play.png);
  background-size: 16px;
  margin-right: 3px;
  padding-top: 1px;
}
