/*
一.注释
*/
.box {
  width: 300px;
  height: 300px;
  background-color: yellow;
}
/*
三.混合: 
1. 在a选择器中写入b选择器， 则b选择器的样式就可以加入到a中------有利于样式的重用
2. 可带参数/变量,可带默认值
*/
.hunhe1 {
  border: solid #ff0000 10px;
  width: 100px;
  height: 100px;
}
.hunhe2 {
  border: solid #ff0000 30px;
  width: 100px;
  height: 100px;
  margin-left: 100px;
}
/*
// 匹配模式 类似if语句(满足条件才能匹配)
*/
.zfx {
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 100px;
  border-color: red blue green yellow;
  border-style: solid;
}
.sanjiao {
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 100px;
  border-color: transparent transparent red transparent;
  border-style: dashed dashed solid dashed;
}
.sanjiaoTop {
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 100px;
  border-color: transparent transparent #ff0000 transparent;
  border-style: dashed dashed solid dashed;
}
.sanjiaoBottom {
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 100px;
  border-color: #ff0000 transparent transparent transparent;
  border-style: solid dashed dashed dashed;
}
.sanjiaoLeft {
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 100px;
  border-color: transparent #ff0000 transparent transparent;
  border-style: dashed solid dashed dashed;
}
.sanjiaoRight {
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 100px;
  border-color: transparent transparent transparent #ff0000;
  border-style: dashed dashed dashed solid;
}
.pipe {
  position: relative;
  top: 50px;
  width: 200px;
  height: 200px;
  background-color: green;
}
/*
@test_aWidth:300px;

.box_02{
  width: @test_aWidth-20;
  color: #ccc - 10;
}
*/
/*
不使用less的嵌套
.list{ }

.list li{ }

.list a{ }

.list span{ }


// 嵌套
1. & 对伪类使用 : hover  focus
2. 对连接的使用
 &-item
*/
.list {
  width: 600px;
  margin: 30px auto;
  padding: 0;
  list-style: none;
}
.list li {
  height: 30px;
  background-color: pink;
  margin-bottom: 5px;
}
.list a {
  float: left;
}
.list a:hover {
  color: red;
}
.list span {
  float: right;
}
/*
 @arguments变量:包含所有传进来的参数
如果不想单独处理每一个参数就可以如下

 */
.test_arguments {
  border: 30px #ff0000 solid;
}
/*
避免编译  ~
*/
.test_03 {
  width: calc(300px-30px);
}
/*
!important 最高优先级--比如混合模式后面加上important
*/
